<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>EasyMeasure is released</string>
		<key>Date</key>
		<date>2013-08-20T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Element Animation is released</string>
		<key>Date</key>
		<date>2014-01-14T05:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Joined MCProHosting</string>
		<key>Date</key>
		<date>2014-06-26T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Started summer position at GeekHampton</string>
		<key>Date</key>
		<date>2014-07-01T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Launched early prototype of Beam</string>
		<key>Date</key>
		<date>2014-08-19T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Attended Hack the North</string>
		<key>Date</key>
		<date>2014-09-19T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won 2nd place overall at Hack Upstate</string>
		<key>Date</key>
		<date>2014-10-03T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won Pebble API prize at HackRU</string>
		<key>Date</key>
		<date>2014-10-11T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gave a talk about iOS development at the first Local Hack Day</string>
		<key>Date</key>
		<date>2014-12-06T05:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won 2nd place overall at Hack Gen Y</string>
		<key>Date</key>
		<date>2015-01-24T05:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won 3rd place overall at McHacks</string>
		<key>Date</key>
		<date>2015-02-21T05:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Organized the first AtomHacks</string>
		<key>Date</key>
		<date>2015-05-30T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won &quot;Huge&quot; innovation prize at AngelHack Brooklyn</string>
		<key>Date</key>
		<date>2015-06-06T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won best solo hack at HackRU</string>
		<key>Date</key>
		<date>2015-10-03T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gave a talk about Python for Local Hack Day</string>
		<key>Date</key>
		<date>2015-10-09T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Organized Bronx Science&apos;s first Local Hack Day</string>
		<key>Date</key>
		<date>2015-10-10T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Beam is accepted into TechStars Seattle</string>
		<key>Date</key>
		<date>2016-02-23T05:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Won 1st place overall at hackNY</string>
		<key>Date</key>
		<date>2016-04-04T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Placed as a finalist at HackRU</string>
		<key>Date</key>
		<date>2016-04-18T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Beam wins TechCrunch Disrupt NY</string>
		<key>Date</key>
		<date>2016-05-11T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Organized AtomHacks II</string>
		<key>Date</key>
		<date>2016-05-14T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Beam is acquired by Microsoft</string>
		<key>Date</key>
		<date>2016-08-11T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Organized Bronx Science&apos;s second Local Hack Day</string>
		<key>Date</key>
		<date>2016-12-03T05:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Beam reaches the top 20 entertainment apps on the App Store</string>
		<key>Date</key>
		<date>2017-03-31T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Organized AtomHacks III</string>
		<key>Date</key>
		<date>2017-05-13T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Beam rebrands to Mixer</string>
		<key>Date</key>
		<date>2017-05-25T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Attended JuliaCon at UC Berkeley</string>
		<key>Date</key>
		<date>2017-06-20T04:00:00Z</date>
	</dict>
	<dict>
		<key>Name</key>
		<string>Spent my summer at Microsoft&apos;s engineering offices in Seattle</string>
		<key>Date</key>
		<date>2017-08-29T04:00:00Z</date>
	</dict>
</array>
</plist>
